aside {
    width: 100%;
    max-width: 65px;
    height: 100vh;
    background-color: orange;
}


aside .menu-revelado{
    box-shadow: 2px 2px 4px #c1c1c1 ;
    animation-name:  revelarMenuAsider;
    animation-duration: 1s;
    width: 220px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px 0px;
    background-color: white;
   
}

aside .menu-revelado div{
 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside .menu-revelado div a {
    cursor: pointer;
    padding: 0px 15px;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;

}
aside .menu-revelado div a:hover{
    background-color: #55bd92;
    transition-duration: 0.35s;
}
aside .menu-revelado div a:hover > p{
    color:white;
}
aside .menu-revelado div a p{

    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    padding: 0px 10px;
    color: black;
    font-weight: bold;
}

.menu-revelado div a img{
    width: 45px;
    margin:auto;
    padding: 5px;
}

aside .menu-icones{
    box-shadow: 1px 1px 3px #c1c1c1 ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px 0px;
    background-color: white;
}


aside .menu-icones div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside .menu-icones div a {
    cursor: pointer;;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;

}
aside .menu-icones div a:hover{
    background-color: #55bd92;
    color: white;
}
.menu-icones div a img{
    width: 45px;
    margin: auto;
    padding: 5px;
}
.menu-mobile{
    background-color: white;
    height: 42px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}
.menu-mobile div{
    float: bottom;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}


.menu-mobile div a img{
    height:36px;
}
