.cards-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-item{
    background-color: white;
    width: 31.5%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2.5px solid rgb(220, 220, 220);
    padding: 0;
}

.card-item .card-titulo{
    margin: 0;
    background-color: rgb(85,189,146);
    color: white;;
    text-transform: uppercase;
    padding: 30px 10px;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 10px 10px 0px 0px;

}

.card-item .card-corpo{
    padding: 20px;
    font-size: 1.1rem;
}

.card-corpo div{
    display: flex;
    margin: 10px 0px;
}

.card-corpo label{
    font-weight: bold;
}
.card-item .card-pe{
    text-align: end;
    font-weight: bold;
    font-size: 1rem;
    color:#F7CE41;
    padding: 15px;
}


.card-novidades{
    background-color: white;
    margin-top: -150px;
    position: absolute;
    /*display: flex;*/
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}
.card-n-titulo{
    background-color: #F7CE41;
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    padding: 15px 0px;
    font-weight: bold;
}

.card-n-corpo{
    padding: 10px;
}

.card-n-corpo .novidade-item{
    padding: 10px 5px;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 10px;

}

.card-n-corpo .novidade-item h4{
    font-size: 1rem;
}

.novidade-item .novidade-info label{
    font-weight: bold;
    margin-right: 5px;
}


.card-d-cont{
    width: 100%;
}
.aluno-dados-inicio{
    width: 85%;
}
.card-dados{
    padding: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
}

.card-dados .card-d-titulo{
    font-size: 1.1rem;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
}
.card-dados .card-d-corpo{
    font-size: 1rem;
    padding: 10px 20px;
}
.card-d-corpo label{
    font-weight: bold;
    margin-right: 5px;
}
.card-d-corpo div div{
    margin-bottom: 5px;
    display: flex;
}

.card-turmas{
    padding: 0px 5px;

}
.card-turmas .card-t-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-turmas .card-t-item{
    background-color: white;
    width: 32%;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 2px solid rgb(220, 220, 220);
    padding: 0;
}
.card-t-titulo{
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    color: #01514B;
}
.card-turmas .card-t-corpo{
    background-color: #55BD92;
    color: white;
    padding: 10px 20px;
}
.card-t-corpo a{
    color: white;
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin: 20px 0px;
}
.card-t-item .card-t-pe{
    font-size: 1rem;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-t-item .card-t-pe p{
    text-align: center;
}
.card-t-pe label{
    font-weight: bold;
    margin-right: 3px;
}

.card-t-pe div{
    display: flex;
}
.novidade-item div.novidade-titulo{
    font-size: 1.1rem;
}