.cards-cont{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-item{
    background-color: white;
    width: 31.5%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2.5px solid rgb(220, 220, 220);
    padding: 0;
}

.card-item .card-titulo{
    margin: 0;
    background-color: rgb(85,189,146);
    color: white;;
    text-transform: uppercase;
    padding: 30px 10px;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 10px 10px 0px 0px;

}

.card-item .card-corpo{
    padding: 20px;
    font-size: 1.1rem;
}

.card-corpo div{
    display: flex;
}

.card-corpo label{
    font-weight: bold;
}
.card-item .card-pe{
    text-align: end;
    font-weight: bold;
    font-size: 1rem;
    color:#F7CE41;
    padding: 15px;
}