.dados-user-cont{
    width: 100%;   
    border: 2px solid #01514B;
    border-radius: 5px;
    padding: 10px;
}

.submit-linha{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
input[type="submit"]{
    padding:5px 10px;
    width: auto;
    color: white;
    border:none;
    background-color: #55BD92;
    border-radius: 5px;
    font-weight: bold;
}
input[type="submit"]:focus{
    background-color: #01514B;
    border: none;
}

.dados-user-cont input[type="text"],input[type="password"],input[type="email"], input[type="date"]{
    border: 1px solid #c1c1c1;
    width: 100%;
    font-size: 18px;
    padding: 0px 10px;
    height: 23px;
    color: rgb(70, 70, 70);

}

.dados-user-cont select{
    border: 1px solid #c1c1c1;
    width: 100%;
    font-size: 18px;
    background-color: white;
    margin: 10px 0px;
    height: 23px;
    color: rgb(40, 40, 40);
    padding: 0px 10px;
}
.dados-user-cont .dados-geral form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.dados-geral .dados-col{
    width: 100%;
}

.dados-geral .dados-titulo h2{
    padding: 10px 0px;
    font-size: 1.5rem;
    color: #01514B;
}
.perfil{
    display: flex;
    width: auto;
    padding: 10px;
}

.perfil img{
    display: block;
    margin: auto 20px;
    width: 90px;
    height: 90px;
}
.perfil h2{
    font-size: 1.5rem;
    display: block;
    margin: auto 0px;
    text-align: center;
    float: left;
}

.dados-geral .login{
    display: flex;
}


.login .inputs-cont{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}
.login .inputs-cont a{
    cursor: pointer;
    color: gray;
    font-size: 1rem;
    display: block;
    float: right; 
}

.inputs-cont input{
    margin: 10px 0px;
}

.login .labels-cont{
    padding: 10px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.labels-cont label{
    margin: 10px 0px;
    font-size: 18px;
    padding: 0;
    font-weight: bold;
    display: block;
    width: max-content;
    height: 23px;
    margin-right: 20px;
}

.dados-endereco form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.dados-endereco .dados-col{
    width: 40%;
    margin:0px 30px;
}

.dados-col .dados-reais{
    display: flex;
}

.outros{

}

.outros .inputs-cont{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.outros .labels-cont{
    padding: 10px 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.dados-pessoal form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dados-pessoal .dados-col{
    width: 100%;
    margin:0px 30px;
}

.larg-min{
    min-width: 22%;
}