* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin-bottom: 0;
}
ul{
  margin: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/* background-color: red; */
  overflow: hidden;
  font-size: 0.9rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
div.container{
  width: 100%;
  display: flex;
  max-height:100vh;
  height: calc(100% - 60px);
  margin:0;
  padding: 0;
}

section{
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container{
  max-width: 100%;
}

a:hover{
  text-decoration: none;
}