header{
    height: min(60px,100%);
    background-color: #01514B;
    display: flex;
}

header .logo-upg-header{
    height: min(60px,100%);
    width: 100%;
    display: flex;
    margin-left: min(100px,10%);
}

header .logo-upg-header img{
    height: min(60px,100%);
}
header a{
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: none;
   /* *Alinha a verticalmente no centro do header */   
    margin: auto 5px;
    padding: 0px;
    max-height: 45px;
    display: flex;
    justify-content: space-between;
    width: 190px;
    
}
header a::foc{
    border: none;
    background-color: red;
}
header a img{
    max-width: 52px;
    max-height: 44px;
}

header a p{
    text-align: justify;
    text-transform: uppercase;
    margin: auto 8px;
}

nav{
    padding: 8px;
    font-weight: bolder;
}

.titulo-pagina{
width: 100%;
margin-top: 0px;
margin-bottom: 20px;
}

.titulo-pagina img{
    width: 60px;
    height: 60px;
}
.titulo-pagina h2{
    font-size: 1.6rem;
}
.home-navbar{

    width: 100%;
    box-shadow: 0.5px 0.5px 4px #d1d1d1;
}

.home-navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.home-navbar ul li{
    padding: 6px 25px;
    border-left: 1px solid #c1c1c1;
    /* border-radius: 5px; */
}
.home-navbar ul li a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.home-navbar ul li p{
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
}
.home-navbar ul li label{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.login-box{
    box-shadow: 1px 1px 2px #c1c1c1;
    border-radius: 5px;
    top: 50px;
    right: 7px;
    position: absolute;
    width: 150px;
    height: auto;
    background-color: white;
}

.login-box img{
    width: 48px;
    height: 48px;
}

.login-box div{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.login-box a div p{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.cabecalho-prof{
    padding: 30px 0px;
}

.cabecalho-prof a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    color:#01514B;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 2px solid #55BD92;
}

.disciplina-titulo{
    margin-bottom: 10px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 1.7rem;
    padding: 15px 0px;
}