@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-form-img{
  display: flex;
  justify-content: center;
}
.login-form-img img{
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: #F0F0F0;
  border-radius: 50%;
  padding: 5px;
}

body{
  background-image: url('../imagens/Fundo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.login-cont{
  margin-top: 50px  ;
  margin: 30px auto;
  position: relative;
  width: 400px;
  background: white;
  padding: 20px 20px;
  border-radius: 10px;
  border: 2px solid #A5A5B1;
  height: max-content;
}

.input-field, form .button{
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;

}
.input-field input{
  height: 100%;
  width: 100%;
  border: 1.5px solid #A5A5B1;
  padding-left: 15px;
  outline: none;
  font-size: 1.2rem;
  font-weight: normal;
  transition: .4s;
  border-radius: 5px;
}
input:focus{
  border: 1px solid #01514B;
}
.input-field label, span.show{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-field label{
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: .4s;
}
span.show{
  right: 20px;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
}
input:valid ~ span.show{
  visibility: visible;
}
input:focus ~ label,
input:valid ~ label{
  transform: translateY(-33px);
  background: white;
  font-size: 16px;
  color: #01514B;
}

.button button{
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.form-buttons{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.form-buttons button{
  color: white;
  background-color: #01A54F;
  padding: 10px 30px;
  border:none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.form-buttons p{
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17.6px;
  width: 17.6px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #01A54F;
}

input:focus + .slider {
  box-shadow: 0 0 1px#01A54F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.form-save-user{
  display: flex;
}

.form-save-user p{
  margin-left: 5px;
  font-weight: bold;
  color: rgb(80, 80, 80);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

p:hover{
  color:#01A54F;
  transition-duration: 0.7s;
} 