section{
    width: 100%;
}

section .ct{
    padding: 20px 20px;
}
section .noticias{
    max-width: 1080px;
    display: flex;
    margin: 15px auto;
}

/* CABEÇALHO DA TABELA DE BOLETIN */
.cabecalho .boletim-dados{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
.cabecalho .boletim-dados label{
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 5px;
}
.cabecalho .boletim-dados p{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho .boletim-dados select{
    font-size: 1.2rem;
    /* background-color: gray; */
    border: none;
    border-radius: 4px;
}

.cabecalho .boletim-dados ul li, .boletim-medias ul li{
    display: flex;
    margin: 15px 0px;
}

.boletim-medias{
    display: flex;
}
.boletim-medias ul{
    display: flex;
    margin-top: 40px;
}

.boletim-medias label{
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 5px;
}
.boletim-medias p{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aluno-ct{
    display: flex;
}

.aluno-ct .conteudo{
    padding: 0px 20px;
    width: 70%;

}
#aluno-not-car{
    padding: 10px;
    height: 400px;

}

#aluno-not-car .carousel-inner{
    height: 100%;
    border-radius: 10px;
}

#aluno-not-car .carousel-inner .carousel-item{
    height: 100%;
}

#aluno-not-car .carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
}

.aluno-ct .conteudo .bloc-links{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.bloc-links .bloc-row{
    width: 100%;
    height: 50%;
    display: flex;

}
.bloc-links .bloc-row .bloc-item{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

.bloc-links .bloc-row .bloc-item img{
    width: 100%;
    height: 100%;
}

.aluno-ct .novidades{
    padding: 10px;
    width: 30%;
}

.boas-vindas{
    display: flex;
}

.boas-vindas h2{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boas-vindas img{
    border-radius: 50%;
}

.prof-ini{
    display: flex;
}

.prof-ini .turmas{
    width: 70%;

}
.prof-ini .prof-ini-titulo{
    background-color: white;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.prof-ini .novidades{
    width:30% ;
}

.user-box-opc{
    display: block;
    z-index: 3;
    position: absolute;
    right: 10px;
    width: 250px;
    height: max-content;
    top: 48px;
    background-color: white;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray ;
}
.user-bloc{
    border-radius: 5px;
    padding: 10px;
}

.user-bloc .u-bloc-img{
    width: 100%;
    height: 45%;
    display: flex;
}
.user-bloc .u-bloc-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    padding: 20px auto;
}
.user-bloc .u-bloc-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.user-bloc .u-bloc-name label{
    width: 100%;
    height: auto;
    margin: auto 0px;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}
.user-bloc .u-bloc-menu{
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}
.u-bloc-menu a{
    display: flex;
    margin: 13px auto;
}
.u-bloc-menu a img{
    width: 18%;
}
.u-bloc-menu a label{
    padding-left: 15px;
    text-align: justify;
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}
.u-bloc-menu a label:hover{
    color:#01514B;
    cursor: pointer;
}

.msg-erro-login {
    display: none;
    justify-content: flex-end;
}

.msg-erro-login p{
    color: red;
    font-size: 0.95rem;
}
.noti-box{
    padding: 8px;
    margin-right: 20px;
}

.noti-box .noti-box-titulo{
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}
.noti-box .noti-item{   
    border-top: 1px solid #c1c1c1;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
;
}

.noti-box .noti-item label{
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.95rem;

}
.noti-box .noti-item img {
    width: auto;
    padding: 3px 0px;
    height: 36px;
}