table{
    width: 100%;
    padding: 0;
    /* box-shadow: 2px 2px x4px grey; */
    min-height: 250px;
    background-color: gray;
}
table tr.tb-preench{
    height: 100%;
}

table tr.tabela-h{
    height: 30px;
    width: 100%;
    background-color: #55BD92;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    color: white;
}

table td{
    background-color:white;
    padding: 5px 0px;
    text-align: center;
    max-height: 20px;
    font-size: 1rem;
}

table tr.tabela-h th{
    padding: 10px 0px;
    text-transform: uppercase;
    /* border: 1px solid #01514B; */
}

.horario-h{
    color: white;
    background-color: #C4C4C4;
    font-weight: bold;
}

.tabela-horário-prof{
    width: 100%;  
}

.tabela-horário-prof table{
    width: 100%;
    background-color: white; 
    border: 2px solid #d9d9d9;  
    border-spacing: 0px;
}

.tabela-horário-prof table .t-h-titulo{
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #01514B;
    color:white;
    font-weight: bold;
}

.t-h-titulo th{
    padding: 8px;
}

.tabela-horário-prof table tr{
    background-color: green;
    min-height: 42px;
}
.tabela-horário-prof table td{
    width: 12.5%;
    height: 42px;
    background-color: white;
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}

.tabela-horário-prof table td div{
    background-color: purple;
    padding: 8px 5px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin: 0px 2px;
}


