table{
    width: 100%;
    padding: 0;
    /* box-shadow: 2px 2px x4px grey; */
    height: 70%;
    background-color: gray;
}
table tr.tb-preench{
    height: 100%;
}

table tr.tabela-h{
    height: 30px;
    width: 100%;
    background-color: #55BD92;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    color: white;
}

table td{
    background-color:white;
    padding: 5px 0px;
    text-align: center;
    max-height: 20px;
    font-size: 1rem;
}

table tr.tabela-h th{
    padding: 10px 0px;
    text-transform: uppercase;
    /* border: 1px solid #01514B; */
}


.horario-h{
    color: white;
    background-color: #C4C4C4;
    font-weight: bold;
} 